/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #fff2e0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ff6600;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d05604;
}
